@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-in {
  from {
    transform: translateX(calc(100% + 1.25rem));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateX(0);
    opacity: 1;
    max-height: 100px;
    margin-bottom: 0.5rem;
  }
  to {
    transform: translateX(calc(100% + 1.25rem));
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }
}

.toast-enter {
  animation: toast-in 0.3s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-exit {
  animation: toast-out 0.4s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
}
